<br>
<br>
<div class="container-fluid font-monospace bg-light p-3">
  <div class="">

    <h4 class="text-uppercase text-primary">Select Parameters
    </h4>
  </div>
  <br>
  <div class="row">

    <div class="col-8 border-right" *ngIf="!EditBtnClicked && !checkboxClicked">
      <h5 class="text-secondary">Mandatory Parameters</h5>
      <!-- <ul class="list-group">

        <li *ngFor="let item of jsondata; let i = index">
          <ul class="list-group">
            <li *ngFor="let subItem of item['parameters']">
              <ul class="list-group ">
                <li *ngFor="let subItem1 of subItem['parameter'] | filter : ['type']">
                  <ul class="list-group ">
                    <li *ngFor="let subItem2 of subItem1['input']" class="list-group-item d-flex justify-content-between align-items-center">
                      {{subItem2.label}} </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul> -->

      <div *ngFor="let item of jsondata">
        <div *ngFor="let item1 of item.parameters">
          <div *ngFor="let item2 of item1.parameter | filter : ['type']">
            <div *ngFor="let item3 of item2.input" class="list-group-item d-flex justify-content-between align-items-center">
              {{ item3.label}}
            </div>
          </div>
        </div>
      </div>

      <br>
      <h5 class="text-secondary">Recommended Parameters</h5>

      <!--  <ul class="list-group">
       <li *ngFor="let field of fields | filter1 : ['required']" class="list-group-item d-flex  align-items-center">
          <select (change)="Selected($event)">
            <option value="0"> --Select-- </option>
            <option *ngFor="let field of fields | filter1 : ['required']" [value]=""> {{field.label}} </option>
          </select>
        </li> -->

      <!-- <ul class="list-group">
        <li *ngFor="let item of jsondata; let i = index">
          <ul class="list-group">
            <li *ngFor="let subItem of item['parameters']">
              <ul class="list-group ">
                <li *ngFor="let subItem1 of subItem['parameter'] | filter1 : ['type']">
                  <ul class="list-group ">
                    <li *ngFor="let subItem2 of subItem1['input']" class="list-group-item">
                      <input type="checkbox" [(ngModel)]="selectedElement" (change)="Selected($event)"> {{subItem2.label}}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul> -->


      <div *ngFor="let item of jsondata">
        <div *ngFor="let item1 of item.parameters">
          <div *ngFor="let item2 of item1.parameter | filter1 : ['type']">
            <div *ngFor="let item3 of item2.input" class="list-group-item">
              <input type="checkbox" value="{{item3.label}}" [(ngModel)]="selectedElement" (change)="Selected($event)">
              {{item3.label}}
            </div>
          </div>
        </div>
      </div>

      <!-- <table class="table table-striped table-bordered">
          <tbody>
              <tr *ngFor="let field of fields | filter1 : ['required']; let i = index">
                  <td>
                      <div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
                          <select (change)="Selected($event.target.value)">
                              <option value="0"> --Add Parameter-- </option>
                              <option *ngFor="let field of fields | filter1 : ['required']" [value]=""> {{field.label}} </option>
                            </select>
                          </div>
                    
                  </td>
              </tr>

          </tbody>
      </table>  -->


    </div>

    <div class="col-8 border-right" *ngIf="checkboxClicked">
      <h5 class="text-secondary">List of Parameters</h5>
      <br>
      <ul class="list-group">
        <li *ngFor="let field of fields | filter : ['selected']" class="list-group-item d-flex  align-items-center">
          {{field.label}}
        </li>
      </ul>

    </div>
    <br>

    <!-- <div class="col-8 border-right" *ngIf="AddParambtnClicked"> -->
    <div class="col-8 border-right">
      <br>
      <h5 class="text-secondary">Optional Parameters</h5>
      <!-- <input type="button" value="Add Expression" (click)="addRow()"/>
        <div *ngFor="let item of row; let i=index">
          <input type="text" name="name{{i}}" [(ngModel)]="item.name"> 
          <input type="button" value="Delete Expression" (click)="deleteRow(i)"/>
        </div> -->

      <button class="btn btn-link" (click)="addRow()">
        <strong>Add Expression</strong>
      </button>

      <div *ngFor="let item of row; let i=index">
        <table class="table table-striped table-bordered">
          <thead>
            <th>
              Condition
            </th>
            <th>
              Argument 1
            </th>
            <th>
              Operator
            </th>
            <th>
              Argument 2
            </th>
            <th>
            </th>

          </thead>

          <tbody>
            <tr>
              <td>
                <select [(ngModel)]="condition">
                  <option [value]=""> AND </option>
                  <option [value]=""> OR </option>
                </select>
              </td>
              <td>
                <!-- <input type="text"> -->

                <!-- <option *ngFor="let field of fields | filter1 : ['required']" [value]=""> {{field.label}} </option> -->


                <select (change)="Selected($event)">
                  <!--      <option>
                  <ul class="list-group">

                      <li *ngFor="let item of jsondata; let i = index">
                        <ul class="list-group">
                          <li *ngFor="let subItem of item['parameters']">
                            <ul class="list-group ">
                              <li *ngFor="let subItem1 of subItem['parameter'] | filter2 : ['type']">
                                <ul class="list-group ">
                                  <li *ngFor="let subItem2 of subItem1['input']" class="list-group-item d-flex justify-content-between align-items-center">

                                    {{subItem2.label}}

                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>

                    </ul>
                    </option>
                  -->
                  <option *ngFor="let item of jsondata">
                    <div *ngFor="let item1 of item.parameters">
                      <div *ngFor="let item2 of item1.parameter  | filter2 : ['type']">
                        <div *ngFor="let item3 of item2.input">
                          {{item3.label}}
                        </div>
                      </div>
                    </div>
                  </option>


                </select>

                <!-- <div *ngFor="let item of jsondata;">
                    <div *ngFor="let subItem of item['parameters']">
                        <div *ngFor="let subItem1 of subItem['parameter'] | filter2 : ['type']">
                            <select (change)="Selected($event)">
                                <option *ngFor="let subItem2 of subItem1['input']" [value]=""> {{subItem2.label}} </option>

                              </select>
                   </div>
                </div>
              </div> -->



              </td>
              <td>
                <select [(ngModel)]="operator">
                  <option [value]=""> = </option>
                  <option [value]=""> != </option>
                  <option [value]="">Like</option>
                  <option [value]="">Not Like</option>
                  <option [value]="">
                    < </option> <option [value]=""> >
                  </option>
                </select>
              </td>
              <td>
                <input type="text">
              </td>
              <td>
                <button class="btn btn-link" (click)="deleteRow(i)">
                  <strong>Delete Expression</strong>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="col">
      <div class="row">
        <div class="col-3">
          <h5 class="text-secondary">Options</h5>
          <!-- <button class="btn btn-link"   (click)="Edit(true)" [hidden]="EditBtnClicked">
            <strong>Edit</strong>
          </button> -->
          <!-- <button class="btn btn-link" *ngIf="EditBtnClicked" (click)="Save(true)"> -->
          <button class="btn btn-link" *ngIf="!SaveBtnClicked" (click)="Save(true)">
            <strong>Save</strong>
          </button>
          <button class="btn btn-link" (click)="Discard(true)">
            <strong>Discard</strong>
          </button>
          <button class="btn btn-link" *ngIf="SaveBtnClicked" (click)="Create()">
            <strong>Next</strong>
          </button>
          <!-- <button class="btn btn-link" (click)="AddParameter(true)">
            <strong>Add Parameter</strong>
          </button> -->
          <!-- <button class="btn btn-link" *ngIf="EditBtnClicked" (click)="addFieldValue()">
              <strong>Add</strong>
          </button> -->
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngFor="let item of jsondata">
  {{item.parameters | json}}
</div>

<!-- <div *ngFor="let item of jsondata">
    <div *ngFor="let item1 of item.parameters">
        <div *ngFor="let item2 of item1.parameter">
            <div *ngFor="let item3 of item2.input">
    {{ item3.label}}
  </div> 
</div> 
</div> 
    </div>  -->
