<br>
<br>
<div class="container-fluid font-monospace bg-light p-3">
  <div class="">

    <h4 class="text-uppercase text-primary">Select Parameters
    </h4>
  </div>
  <br>
  <div class="row">

    <!-- <div class="col-8 border-right" *ngIf="!EditBtnClicked && !SaveBtnClicked">
      <h5 class="text-secondary">List of Parameters</h5>
      <br>
      <ul class="list-group">
        <li *ngFor="let field of fields | filter : ['required']" class="list-group-item d-flex align-items-center">
          {{field.label}}
        </li>
      </ul>
    </div> -->

    <div class="col-8 border-right" *ngIf="!EditBtnClicked && !checkboxClicked">
      <!-- <h5 class="text-secondary">List of Parameters</h5> -->
      <h5 class="text-secondary">Mandatory Parameters</h5>
      <ul class="list-group">
        <li *ngFor="let field of fields | filter : ['required']" class="list-group-item d-flex  align-items-center">
          <!-- <label>
            <input type="checkbox" name="fields" value="{{field.label}}" (change)="onClicked($event)" /> -->
          {{field.label}}
          <!-- </label> -->
        </li>
      </ul>

      <br>
      <h5 class="text-secondary">Recommended Parameters</h5>

      <ul class="list-group">
        <li *ngFor="let field of fields | filter1 : ['required']" class="list-group-item d-flex  align-items-center">
          <select (change)="Selected($event)">
            <option value="0"> --Select-- </option>
            <option *ngFor="let field of fields | filter1 : ['required']" [value]=""> {{field.label}} </option>
          </select>
        </li>
      </ul>


      <!-- <table class="table table-striped table-bordered">
          <tbody>
              <tr *ngFor="let field of fields | filter1 : ['required']; let i = index">
                  <td>
                      <div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
                          <select (change)="Selected($event.target.value)">
                              <option value="0"> --Add Parameter-- </option>
                              <option *ngFor="let field of fields | filter1 : ['required']" [value]=""> {{field.label}} </option>
                            </select>
                          </div>
                    
                  </td>
              </tr>

          </tbody>
      </table>  -->


    </div>

    <div class="col-8 border-right" *ngIf="checkboxClicked">
      <h5 class="text-secondary">List of Parameters</h5>
      <br>
      <ul class="list-group">
        <li *ngFor="let field of fields | filter : ['required'] " class="list-group-item d-flex  align-items-center">
          {{field.label}}
        </li>
      </ul>

    </div>
    <br>
    <div class="col-8 border-right" *ngIf="AddParambtnClicked">
      <br>
      <h5 class="text-secondary">Add New Parameters</h5>
      <!-- <input type="button" value="Add Expression" (click)="addRow()"/>
        <div *ngFor="let item of row; let i=index">
          <input type="text" name="name{{i}}" [(ngModel)]="item.name"> 
          <input type="button" value="Delete Expression" (click)="deleteRow(i)"/>
        </div> -->
      <button class="btn btn-link" (click)="addRow()">
          <strong>Add Expression</strong>
        </button>
        <div *ngFor="let item of row; let i=index">
        <table class="table table-striped table-bordered">
       <thead>
        <th>
          Condition
        </th>
            <th>
              Argument 1
            </th>
            <th>
              Operator
            </th>
            <th>
              Argument 2
            </th>
            <th>
            </th>
         
          </thead> 
 
          <tbody>
            <tr>
                <td>
                    <select [(ngModel)]="condition">
                      <option [value]=""> AND </option>
                      <option [value]=""> OR </option>
                    </select>
                  </td>
              <td>
                <input type="text">
              </td>
              <td>
                <select [(ngModel)]="operator">
                  <option [value]=""> = </option>
                  <option [value]=""> != </option>
                  <option [value]="">Like</option>
                  <option [value]="">Not Like</option>
                  <option [value]="">In</option>
                  <option [value]="">Not In</option>
                  <option [value]=""> < </option> 
                  <option [value]=""> <= </option> 
                  <option [value]=""> > </option>
                  <option [value]=""> >= </option>
                </select>
              </td>
              <td>
                <input type="text">
              </td>
              <td>
                <button class="btn btn-link" (click)="deleteRow(i)">
                    <strong>Delete Expression</strong>
                  </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="col">
      <div class="row">
        <div class="col-3">
          <h5 class="text-secondary">Options</h5>
          <!-- <button class="btn btn-link"   (click)="Edit(true)" [hidden]="EditBtnClicked">
            <strong>Edit</strong>
          </button> -->
          <!-- <button class="btn btn-link" *ngIf="EditBtnClicked" (click)="Save(true)"> -->
          <button class="btn btn-link" *ngIf="!SaveBtnClicked" (click)="Save(true)">
            <strong>Save</strong>
          </button>
          <button class="btn btn-link" (click)="Discard(true)">
            <strong>Discard</strong>
          </button>
          <button class="btn btn-link" *ngIf="SaveBtnClicked" (click)="Create()">
            <strong>Next</strong>
          </button>
          <button class="btn btn-link" (click)="AddParameter(true)">
            <strong>Add Parameter</strong>
          </button>
          <!-- <button class="btn btn-link" *ngIf="EditBtnClicked" (click)="addFieldValue()">
              <strong>Add</strong>
          </button> -->
        </div>
      </div>

    </div>
  </div>
</div>
{{fields | json}}
