<p>&nbsp;</p>
<p>&nbsp;</p>
<h4 class="text" align="center"><strong>SIGN IN</strong></h4>
<div class="container">
  <div form>
    <div class="imgcontainer">
      <img src="assets/login2.jpg" alt="Avatar" class="avatar">
    </div>
    <h5 class="text-secondary">Username</h5>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Username..">
    <p>&nbsp;</p>
    <h5 class="text-secondary">Password</h5>
    <input type="password" class="form-control" id="pwd" name="passowrd" [(ngModel)]="password" placeholder="Password..">
    <p>&nbsp;</p>
      <button class="btn btn-dark" style="margin-left:auto;margin-right:auto;display:block" (click)="login()">LOGIN</button>
  </div>
</div>
