.area-border{
    border: 1px dotted #a1a1a1;
    // min-height: 32px;
}

.text{
    min-height: 32px;
}

.grid{
    min-height: 54.67px;
}
.in-drop-zone{
    border: 2px dotted orange;
}
.selected{
    border: 2px solid rgba(255, 166, 0, 0.74);
}
.cursor{
    cursor: pointer;
}
i:hover{
    background: #e1e1e1;
    
}

div {
    background-color: #CBECFE;
}

.list-group-item

{
    background-color: #CBECFE;
}

button {
    background-color: #0E72C4;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
  }
  
  button:hover {
    opacity: 0.3;
  }