<div class="container-fluid font-monospace bg-light p-3">
  <div class="">

    <h4 class="text-uppercase text-primary">Template Builder</h4>

  </div>
  <div class="row">
    <div class="col-3 border-right" style="font-size: 0.8rem">
      <div class="accordian" id="accordionExample">
        <div class="card">
          <div class="" id="headingFields">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#fields" aria-expanded="true"
                aria-controls="headingFields" #link1>
                <i class="fas fa-angle-up"></i> Fields
              </button>
            </h5>
          </div>
          <div id="fields" class="collapse " aria-labelledby="headingFields" data-parent="#accordionExample">

            <div *ngFor="let item of jsondata">
              <div *ngFor="let item1 of item.output">
                <div *ngFor="let item2 of item1.nodeList">
                  <div *ngFor="let item3 of item2.dataStructure">
                    <div *ngFor="let item4 of item3.group" draggable="true" (dragstart)="onFieldDragStart($event, item4)">
                      {{ item4.name}}
                      <div *ngFor="let item5 of item4.element" draggable="true" (dragstart)="onFieldDragStart($event, item5)"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        {{ item5.name}}
                      </div>

                      <div *ngFor="let item6 of item4.group" draggable="true" (dragstart)="onFieldDragStart($event, item6)">
                        {{ item6.name}}
                        <div *ngFor="let item7 of item6.element" draggable="true" (dragstart)="onFieldDragStart($event, item7)"
                          class="list-group-item d-flex justify-content-between align-items-center">
                          {{ item7.name}}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="" id="headingParameters">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#parameters" aria-expanded="true"
                aria-controls="headingParameters">
                <i class="fas fa-angle-up"></i> Parameters
              </button>
            </h5>
          </div>


          <div id="parameters" class="collapse show" aria-labelledby="headingParameters" data-parent="#accordionExample">
            <div *ngFor="let item of jsondata">
              <div *ngFor="let item1 of item.parameters">
                <div *ngFor="let item2 of item1.parameter">
                  <div *ngFor="let item3 of item2.select" draggable="true" (dragstart)="onFieldDragStart($event, item3)"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item3.label}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Template Builder Original -->
    <div class="col">
      <div class="row">
        <div class="col-3">
          <h5 class="text-secondary">Template</h5>
        </div>
        <div class="col-9">
          <button class="btn btn-link" (click)="Edit(true)" [hidden]="EditBtnClicked">
            <strong>Edit</strong>
          </button>
          <button class="btn btn-link" *ngIf="EditBtnClicked" (click)="Save(true)">
            <strong>Save</strong>
          </button>
          <button class="btn btn-link" *ngIf="EditBtnClicked" (click)="Discard(true)">
            <strong>Discard</strong>
          </button>
          <button class="btn btn-link" *ngIf="!EditBtnClicked" data-toggle="modal" data-target="#bootstrapModel"
            (click)="GenerateRTF(true)">
            <strong>Generate RTF</strong>
          </button>
          <button class="btn btn-link" *ngIf="EditBtnClicked" (click)="isHeader = !isHeader">Toggle Header</button>
          <button class="btn btn-link" *ngIf="EditBtnClicked" (click)="isFooter = !isFooter">Toggle Footer</button>
        </div>
      </div>

      <!-- HEADER -->
      <!-- EDITTABLE -->
      <div class="card my-1 bg-light col-8" *ngIf="EditBtnClicked && isHeader">
        <div class="card-body text-center p-1">
          <div class="d-flex justify-content-between align-items-center">
            <div class="">
              <label for="file-upload" class="custom-file-upload">
                <img [src]="logoURL">
              </label>
              <input id="file-upload" type="file" (change)="readUrl($event)" />
            </div>
            <div class="">
              <input class="form-control form-control-sm" type="text" placeholder="Enter Header text" [(ngModel)]="headerText" />
            </div>

            <button class="btn btn-link" *ngIf="!showDate" (click)="showDateFun(true)">Add System Date</button>

            <div class="px-5" *ngIf="showDate">
              <select [(ngModel)]="headerDate">
                <option [value]="">dd/MM/yyyy</option>
                <option [value]="">dd/MMM/yyyy</option>
                <option [value]="">dd/MMM/yyyy hh:mm:ss</option>
              </select>

            </div>

          </div>
        </div>
      </div>
      <!-- READ-ONLY -->
      <div class="card my-1" *ngIf="!EditBtnClicked && isHeader">
        <div class="card-body text-center p-1">
          <div class="d-flex justify-content-between align-items-center">
            <div class="">
              <img [src]="logoURL">
            </div>
            <div class="">
              <h5 class="text-muted">{{headerText}}</h5>
            </div>
            <div class="px-5">
              <h5 class="text-muted">{{headerDate}}</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- HEADER -->

      <!-- TEMPLATE -->
      <!-- READ-ONLY -->
      <div class="row card" *ngIf="!EditBtnClicked">
        <div class="card-body">
          <div class="card-title">
            <h6>{{ReportName}}</h6>
          </div>
          <div class="row px-1" *ngFor="let row of rows; let i = index">
            <div [hidden]="row.type == 'table'" class="col text " *ngFor="let col of row.columns; let j = index"
              [ngClass]="{'in-drop-zone': col.inDropZone == true, 'text-center': col.alignment == 'C', 'text-right': col.alignment == 'R', 'text-left': col.alignment == 'L', 'border border-dark': !!col.field && !!col.field.showBorder}">
              <span class="badge badge-info cursor " *ngIf="col.field && col.field.tag">{{col.field.tag}}</span>
              <span class="cursor " *ngIf="col.field && !col.field.tag">{{col.field.label}}</span>

            </div>
            <table [attr.border]="!!row.showBorder?'1':'0'" *ngIf="row.type == 'table'">
              <thead>
                <th *ngFor="let col of row.columns; let j = index">{{col.field?col.field.label: 'Column '+(j+1)}}</th>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let col of row.columns; let j = index">
                    <span class="badge badge-secondary cursor" *ngIf="col.field" (click)="selectField(i,j)" [ngClass]="selectedRow == i && selectedColumn == j?'selected':''">{{col.field.tag}}</span>
                    {{col.field?'':'Drop Here'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- EDITTABLE -->
      <div class="row px-2" *ngIf="EditBtnClicked">

        <div class="card col-8" style="font-size: 0.8rem">

          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h6 class="card-title">
                  {{ReportName}}
                </h6>
              </div>
              <div class="col-4">
                <i class="fas fa-edit p-2 cursor text-primary" (click)="editField()" title="Edit Field"></i>
                <i class="fas fa-edit p-2 cursor text-primary" (click)="editTag()" title="Edit XML Tag"></i>
                <i class="fas fa-align-left p-2 cursor" (click)="leftAlignField()" [ngClass]="{'text-primary': rows[selectedRow].columns[selectedColumn].alignment == 'L'}"
                  title="Left Align Field"></i>
                <i class="fas fa-align-center p-2 cursor" (click)="centerAlignField()" [ngClass]="{'text-primary': rows[selectedRow].columns[selectedColumn].alignment == 'C'}"
                  title="Center Align Field"></i>
                <i class="fas fa-align-right p-2 cursor" (click)="rightAlignField()" [ngClass]="{'text-primary': rows[selectedRow].columns[selectedColumn].alignment == 'R'}"
                  title="Right Align Field"></i>
                <i class="far fa-square p-2 cursor" (click)="toggleBorderField()" title="Toggle Border"></i>
              </div>
            </div>
            <div class="row py-2" *ngIf="editFieldData != '-1'">
              <div class="col-2">
                <label for="editFieldData">Modify To: </label>
              </div>
              <div class="col-8">
                <input id="editFieldData" class="form-control form-control-sm" type="text" placeholder="Suggest new Field name"
                  [(ngModel)]="editFieldData">
              </div>
              <div class="col">
                <button class="btn btn-info btn-sm" (click)="updateEdit()">Update</button>
              </div>
            </div>

            <div class="row py-2" *ngIf="editTagData != '-1'">
              <div class="col-2">
                <label for="editTagData">Modify To: </label>
              </div>
              <div class="col-8">
                <input id="editTagData" class="form-control form-control-sm" type="text" placeholder="Suggest new Field name"
                  [(ngModel)]="editTagData">
              </div>
              <div class="col">
                <button class="btn btn-info btn-sm" (click)="updateEditTag()">Update</button>
              </div>
            </div>

            <div class="row area-border px-1" *ngFor="let row of rows; let i = index">
              <div [hidden]="row.type == 'table'" class="col area-border text" (dblclick)="removeColumnField(i, j)"
                (drop)="onFieldDrop($event, i, j)" (dragleave)="onFieldDragLeave($event, i, j)" (dragover)="onFieldDragOver($event, i, j)"
                *ngFor="let col of row.columns; let j = index" [ngClass]="{'in-drop-zone': col.inDropZone == true, 'text-center': col.alignment == 'C', 'text-right': col.alignment == 'R', 'text-left': col.alignment == 'L', 'border border-dark': !!col.field && !!col.field.showBorder}">
                <span class="badge badge-info cursor " *ngIf="col.field && col.field.tag" [ngClass]="selectedRow == i && selectedColumn == j?'selected':''"
                  (click)="selectField(i,j)">{{col.field.tag}}</span>
                <span class="cursor " *ngIf="col.field && !col.field.tag" [ngClass]="selectedRow == i && selectedColumn == j?'selected':''"
                  (click)="selectField(i,j)">{{col.field.label}}</span>
              </div>
              <table [attr.border]="!!row.showBorder?'1':'0'" *ngIf="row.type == 'table'">
                <thead>
                  <th *ngFor="let col of row.columns; let j = index">{{col.field?col.field.label: 'Column '+(j+1)}}</th>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let col of row.columns; let j = index" (dblclick)="removeColumnField(i, j)" (drop)="onFieldDrop($event, i, j)"
                      (dragleave)="onFieldDragLeave($event, i, j)" (dragover)="onFieldDragOver($event, i, j)">
                      <span class="badge badge-secondary cursor" *ngIf="col.field" (click)="selectField(i,j)" [ngClass]="{'selected': selectedRow == i && selectedColumn == j, 'border border-dark': !!col.field && !!col.field.showBorder}">{{col.field.tag}}</span>
                      {{col.field?'':'Drop Here'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="card col-4">
          <div class="card-body">
            <h6 class="card-title">
              Options
            </h6>
            <div class="row" *ngFor="let row of rows; let i = index" [ngClass]="row.type=='prompt'?'text': 'grid'">
              <div class="border mr-2">
                <i class="far fa-square fa-dark p-2 cursor" *ngIf="row.type == 'table'" (click)="toggleBorderRow(i)"></i>
                <i class="fas fa-grip-horizontal p-2 cursor" [ngClass]="row.type=='table' ? 'text-success': 'text-secondary'"
                  (click)="toggleType(i)" title="Table"></i>
                <i class="fas fa-font  p-2 cursor" [ngClass]="row.type=='prompt' ? 'text-success': 'text-secondary'"
                  (click)="toggleType(i)" title="Text"></i>
              </div>
              <i class="fas fa-columns p-2 cursor text-primary" (click)="addColumn(i)" title="Split Column"></i>
              <i class="fas fa-plus p-2 cursor text-info" (click)="addRow(i)" title="Add Row"></i>
              <i class="fas fa-minus p-2 cursor text-danger" [hidden]="rows.length===1" (click)="removeRow(i)" title="Delete Row"></i>

            </div>
          </div> 
        </div>
      </div>
      <!-- TEMPLATE -->

      <!-- FOOTER -->
      <!-- EDITTABLE -->
      <div class="card my-1 bg-light col-8" *ngIf="EditBtnClicked && isFooter">
        <div class="card-body text-center p-1">
          <div class="d-flex justify-content-between align-items-center">
            <div class="">
              <input class="form-control form-control-sm" type="text" placeholder="Enter Footer text" [(ngModel)]="footerText" />
            </div>
            <div class="">
              <button class="btn btn-link" *ngIf="!showPage" (click)="showPageFun(true)">Add Page Number</button>
              <div class="px-5" *ngIf="showPage">
                <select [(ngModel)]="footerPgNo">
                  <option [value]="">Page 1</option>
                  <option [value]="">Page 1 of 1</option>
                  <option [value]="">Page i</option>
                  <option [value]="">i</option>
                  <option [value]="">1</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- READ - ONLY -->
      <div class="card my-1" *ngIf="!EditBtnClicked && isFooter">
        <div class="card-body text-center p-1">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="text-muted">{{footerText}}</h6>
            </div>
            <div class="px-5">
              <h6 class="text-muted">{{footerPgNo}}</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER -->
    </div>
  </div>



  <!-- Mayur Start: open a modal to download RTF logic-->
  <!-- Modal section -->
  <div id="bootstrapModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Preview Format</h5>
        </div>
        <!-- model body section -->
        <div class="modal-body">



          <label class="container">
            <input type="radio" checked="checked" name="radio">
            <strong>PDF</strong>
          </label>

          <label class="container">

            <input type="radio" name="radio">
            <strong>Excel</strong>
          </label>

          <label class="container">

            <input type="radio" name="radio">
            <strong>Word</strong>
          </label>
        </div>

        <div class="modal-footer">
          <button class="btn btn-link" (click)="download(true)">
            <strong>Preview</strong>
          </button>

          <button class="btn btn-link" *ngIf="PreviewBtnClicked">
            <strong>Publish</strong>
          </button>

          <button type="button" class="btn btn-link" data-dismiss="modal">
            <strong>Close</strong>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mayur End: open a modal to download RTF logic-->

</div>

{{rows | json}}
