<div class="">
    <table width="100%" align="left"  cellSpacing="0" cellPadding="0">
        <tr style="BACKGROUND-IMAGE: url(https://deloittesurvey.deloitte.com/community/images/bg_masthead.gif); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT:repeat-x; height:50px; PADDING-TOP: 0px">
            <td colspan="3">
                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="margin: 0 0 0 0;">
                    <tbody>
                        <tr>
                            <td style="width:30px;"></td>
                            <td valign="top">
                                <img id="logo" title="Deloitte" border="0" name="logo" alt="Deloitte" src="https://deloittesurvey.deloitte.com/community/images/new_deloitte_logo.gif"
                                    style="display:inline-block;PADDING-BOTTOM: 0px; MARGIN: 16px 15px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; PADDING-TOP: 0px">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<router-outlet></router-outlet>