<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- <div>
    <h5 class="text-dark" align="center">Upload Logo</h5>
    <input type="file" (change)="showPreviewImage($event)">
  <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" width=150>
  </div>  

  <p>&nbsp;</p>
    -->
<div class="container">   
    <h5 class="text-dark" align="center">Select Preview Format</h5>
    <p>&nbsp;</p>
   
    <label class="container"><strong>PDF</strong>
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
    </label>

    <label class="container"><strong>Excel</strong>
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>

    <label class="container"><strong>Word</strong>
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    
    <p>&nbsp;</p>
 
    
    <div class = "btn" style="width:500px;">
        <button class="btn btn-link"  (click)="download()"><strong>Download</strong></button>
        <button class="btn btn-link"  (click)="back()"><strong>Back</strong></button>
    </div>
    <p>&nbsp;</p>
       
  </div>


